<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>WEBsecond</display-name>
  <servlet>
    <servlet-name>bc</servlet-name>
    <servlet-class>com.dip.Contex</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Shivam</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>bc</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>Priyanshu</param-value>
  </context-param>
  <context-param>
    <param-name>phone</param-name>
    <param-value>Redmi</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>demoserver</display-name>
    <servlet-name>demoserver</servlet-name>
    <servlet-class>demoserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoserver</servlet-name>
    <url-pattern>/dologin</url-pattern>
  </servlet-mapping>
</web-app>